@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative; }

img {
  border: none; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

html {
  font-size: 100px; }

body {
  font-size: 16px;
  font-family: "苹方"; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media only screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media only screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media only screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media only screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media only screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media only screen and (min-width: 768px) {
  html {
    font-size: 102.4px; } }

@media only screen and (min-width: 800px) {
  html {
    font-size: 106.66667px; } }

@media only screen and (min-width: 1024px) {
  html {
    font-size: 136.53333px; } }

body {
  background: #FAFAFA;
  font-family: "苹方";
  color: #666; }

#my-29 #head {
  width: 100%;
  height: 1rem;
  background: #29a6dc; }
  #my-29 #head .circle {
    width: 0.44rem;
    height: 0.44rem;
    background: #fff;
    box-sizing: border-box;
    border: 0.02rem solid #0b6ebf;
    border-radius: 50%;
    left: 0.24rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }
    #my-29 #head .circle .icon {
      display: block;
      line-height: 0.4rem;
      text-align: center;
      font-size: 0.3rem;
      color: #3daedf; }
  #my-29 #head .biaoti_box {
    width: 3.56rem;
    height: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; }
    #my-29 #head .biaoti_box .dazi {
      color: #fafafa;
      font-size: 0.36rem;
      text-align: center;
      margin-top: 0.08rem; }
    #my-29 #head .biaoti_box .gang {
      width: 0.35rem;
      height: 0.04rem;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      background: url("../s_24-30/gang.png") no-repeat;
      background-size: 0.35rem,0.04rem; }
    #my-29 #head .biaoti_box .xiaozi {
      color: #90dcff;
      font-size: 0.2rem;
      text-align: center;
      margin-top: 0.02rem; }

#my-29 #bd_neirong {
  width: 6.16rem;
  height: 7rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; }
  #my-29 #bd_neirong .ssjh, #my-29 #bd_neirong .syzm {
    width: 100%;
    height: 0.88rem;
    background: #fff;
    border: 1px solid #3a91fd;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0.59rem;
    color: #999999;
    font-size: 0.28rem;
    line-height: 0.88rem;
    padding-left: 0.34rem;
    border-radius: 0.5rem; }
  #my-29 #bd_neirong .ssjhs, #my-29 #bd_neirong .syzms {
    width: 5.82rem;
    height: 0.88rem;
    position: absolute;
    left: 0.34rem;
    top: 0.59rem;
    background: none;
    border: none;
    outline: none; }
  #my-29 #bd_neirong .syzm, #my-29 #bd_neirong .syzms {
    top: 1.85rem; }
    #my-29 #bd_neirong .syzm .hqyzm, #my-29 #bd_neirong .syzms .hqyzm {
      width: 1.88rem;
      height: 0.52rem;
      background: #3abffd;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 0.18rem;
      border-radius: 0.3rem;
      text-align: center;
      line-height: 0.52rem;
      color: #fff; }
  #my-29 #bd_neirong .syzms {
    width: 50%; }
  #my-29 #bd_neirong .sure1 {
    display: block;
    width: 5.69rem;
    height: 0.68rem;
    background: #3abffd;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 3.48rem;
    border-radius: 0.4rem;
    text-align: center;
    line-height: 0.68rem;
    font-size: 0.28rem;
    color: #fff; }
  #my-29 #bd_neirong .qhzh {
    width: 5.69rem;
    height: 0.68rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 4.7rem;
    text-align: center;
    line-height: 0.68rem;
    font-size: 0.3rem;
    color: #a8a8a8; }
