<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width"/>
		<title></title>
		<link rel="stylesheet" type="text/css" href="sy-34.css"/>
	</head>
	<body>-->
		<div id="sy-34" ng-init="show=false">
			<div class="zhezhao" ng-class="{zhezhaos:(show==true)}">
				<div id="header2">
					<div class="circle">
						<div class="icon"><a href="#/sy-33"><</a></div>
					</div>
					<div class="wypj">
						<span>我要评论</span>
						<span>All the books</span>
					</div>
				</div>
				<div class="xing">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="pinglun">
					<p>缘分，它是出自佛教的一个宗教概念，儒家与道家并不讲缘分，也不讲你与茫茫人海中两人从相遇,相识,相知,或是相亲相爱,这就是缘分,缘分无需等待...</p>
				</div>
				<div class="fabu" ng-click="show=true">发布</div>	
				<div class="tc" ng-if="show==true">
					<div class="tc-top">
						<div class="tc-t"></div>
						<span>评论状态</span>
						<span>Comment state</span>
					</div>
					<div class="pl-cg">
						<span>评论成功</span>
						<span>Comment success</span>
					</div>
					<div class="qx-cg" ng-click="show=false">
						<div class="qx">
							<span></span>
							取消
							<span></span>
						</div>
						<div class="cg">
							<span></span>
							<a href="#/sy-33"style="color: #fff;">成功</a>
							<span></span>
						</div>
					</div>
				</div>
			</div>
				
		</div>
	<!--</body>
</html>-->
