
.cjx-touxiang{
    margin: 0 auto;
    border:0.2rem solid #ededed;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    background: url(../img/4-my_10_03.jpg) center;
    background-size: 120% 120%;
}
#cjx-username{
    text-align: center;
    margin: 0 auto;
    font-size: 0.32rem;
    font-family: "微软雅黑";
    color: #666;
}
.cjx-qianming{
     text-align: center;
    margin: 0 auto;
    font-size: 0.22rem;
    font-family: "微软雅黑";
    margin-top: 0.2rem;
    color: #666;
    
}
.cjx-xinxi{
    width: 7rem;
    height: auto;
    margin: 0 auto;
    margin-top: 2rem;
    border: 0.001rem solid #ccc;
    border-radius: 0.15rem;
    box-shadow: 0rem 0rem 0.8rem 0.1rem #CCCCCC;
    .cjx-banben{
        height: 1.2rem;
        border-bottom: 0.01rem dashed #000;
        position: relative;
        .cjx-huojian{
            width: 0.3rem;
            height: 0.3rem;
            position: absolute;
            left: 0.2rem;
            top: 0.5rem;
            border-radius: 50%;
        }
        .cjx-tuobiao1{
            background: url(../img/4-my_07.jpg) center;
            background-size: 120% 120%;
        }
         .cjx-tuobiao2{
            background: url(../img/4-my_10.jpg) center;
            background-size: 120% 120%;
        }
          .cjx-tuobiao3{
            background: url(../img/4_03.jpg) center;
            background-size: 120% 120%;
        }
          .cjx-tuobiao4{
            background: url(../img/4-my_12.jpg) center;
            background-size: 120% 120%;
        }
        .cjx-icon1{
            background: url(../img/4-my_07.jpg) center;
            background-size: 120% 120%;
        }
         .cjx-icon2{
            background: url(../img/4-my_10.jpg) center;
            background-size: 120% 120%;
        }
          .cjx-icon3{
            background: url(../img/4_03.jpg) center;
            background-size: 120% 120%;
        }
          .cjx-icon4{
            background: url(../img/4-my_12.jpg) center;
            background-size: 120% 120%;
        }
          .cjx-icon5{
              width: 0.8rem;
              height: 0.35rem;
            background: url(../img/4-my-4_03.jpg) center;
            background-size: 100% 100%;
        }
        .cjx-shuoming{
            position: absolute;
            left: 0.8rem;
            top: 0.35rem;
            font-size: 0.25rem;
            font-family: "微软雅黑";
            color: #666;
            
        }
        .cjx-english{
            position: absolute;
            left: 0.8rem;
            top: 0.65rem;
            font-size: 0.16rem;
            font-family: "微软雅黑";
            color: #666;
            
        }
        .cjx-ver{
            position: absolute;
            right: 0.8rem;
            top: 0.4rem;
            font-size: 0.28rem;
            font-family: "微软雅黑";
            color: #666;
        }
          .cjx-jiantou{
            position: absolute;
            right: 0.2rem;
            top: 0.4rem;
            font-size: 0.28rem;
            font-family: "微软雅黑";
            color: #6ec3e7;
        }
    }
    .cjx-banben:nth-of-type(4){
        border-bottom: none;
    }
}
//设置
.cjx-exit{
    text-align: center;
    line-height:0.68rem ;
    width:5.6rem;
    height: 0.68rem;
    margin: 0 auto;
    margin-top: 5rem ;
    background: #29DCBC;
    color: #FFFFFF;
    border-radius: 0.5rem;
}
.cjx-tanchu{
     position: fixed;
     left: 0;
     right: 0;
     bottom: 0;
     top: 0;
     margin:  auto;
    width: 4.8rem;
    height: 5.6rem;
    background: #29dcbc;
    border-radius: 0.5rem;
    box-shadow: 0  0  0 1000rem  rgba(0,0,0,0.8);
    .cjx-rentu{
        position: absolute;
        top: 0.3rem;
        left: 0.4rem;
        width: 0.5rem;
        height: 0.5rem;
        background: url(../img/d3.png) center;
        background-size: 110% 110%;
    }
    .cjx-ren{
        position: absolute;
        top: 0.3rem;
        left: 1rem;
       color: #FFFFFF;
       font-size: 0.22rem;
    }
    .cjx-reneng{
        position: absolute;
        top: 0.55rem;
        left: 1rem;
       color: #FFFFFF;
       font-size: 0.16rem;
    }
    .cjx-tixingsetting{
        position: absolute;
        top: 1rem;
        width: 4.8rem;
        height: 4.6rem;
        background: #FFFFFF;
        border-radius:0 0 0.5rem 0.5rem ;
        padding: 0.2rem;
        p:nth-of-type(1){
            text-align: center;
            font-size: 0.3rem;
        }
        p:nth-of-type(2){
            text-align: center;
            font-size: 0.16rem;
        }
        p:nth-of-type(3){
            text-align: center;
            font-size: 0.22rem;
        }
        .cjx-guanbi{
            position: relative;
            border-bottom: 0.01rem dashed #666666;
            height: 0.85rem;
            .cjx-yueduti{
                position: absolute;
                top: 0.1rem;
                font-size: 0.22rem;
            }
            .cjx-kaoyou{
                left: 0.5rem;
            }
            .cjx-yuedueng{
                position: absolute;
                top: 0.42rem;
                font-size: 0.16rem;
                
            }
            .cjx-guanbiquan{
                position: absolute;
                top: 0.25rem;
                right: 0;
                width: 0.3rem;
                height: 0.3rem;
            }
        }
    }
    .cjx-quxiao{
        position: absolute;
        bottom: 0.1rem;
        left: 0.4rem;
        width: 1.95rem;
        height: 0.78rem;
        padding: 0.2rem;
        border: 0.02rem solid #29DCBC;
        font-size: 0.28rem;
        text-align: center;
        border-radius: 0.5rem;
    }
    .cjx-queding {
        position: absolute;
        
        bottom: 0.1rem;
        right: 0.4rem;
        width: 1.95rem;
        height: 0.78rem;
        padding: 0.2rem;
        background:  #29DCBC;
        font-size: 0.28rem;
        text-align: center;
        border-radius: 0.5rem;
        color: #FFFFFF;
    }
}
//弹窗

.cjx-pianhao{
    margin-top: 2rem;
    width: 7.25rem;
    height: 7.68rem;
    .cjx-pianhaoliebiao{
        width: auto;
        height: auto;
        .cjx-pianhaoxiangqing{
            text-align: center;
           height: 1rem;
            span{
                margin-left: 0.2rem;
                border: 0.02rem solid #3a3a3a;
                padding: 0.1rem 0.4rem 0.1rem 0.4rem;
                border-radius: 0.5rem;
                transition: all  0.3s linear;
            }
            span:hover{
                background: #6EC3E7;
                color: #FFFFFF;
            }
        }
    }
    .cjx-start{
    text-align: center;
    line-height:0.68rem ;
    width:5.6rem;
    height: 0.68rem;
    margin: 0 auto;
    margin-top: 1rem ;
    background: #29DCBC;
    color: #FFFFFF;
    border-radius: 0.5rem;
    }
}
.cjx-tanchu2{
     position: fixed;
     left: 0;
     right: 0;
     bottom: 0;
     top: 0;
     margin:  auto;
    width: 4.8rem;
    height: 5.6rem;
    background: #29dcbc;
    border-radius: 0.5rem;
    box-shadow: 0  0  0 1000rem  rgba(0,0,0,0.8);
    .cjx-rentu{
        position: absolute;
        top: 0.3rem;
        left: 0.55rem;
        width: 0.36rem;
        height: 0.36rem;
    }
    .cjx-ren{
        position: absolute;
        top: 0.3rem;
        left: 1rem;
       color: #FFFFFF;
       font-size: 0.22rem;
    }
    .cjx-reneng{
        position: absolute;
        top: 0.55rem;
        left: 1rem;
       color: #FFFFFF;
       font-size: 0.16rem;
    }
    .cjx-tixingsetting{
        position: absolute;
        top: 1rem;
        width: 4.8rem;
        height: 4.6rem;
        background: #FFFFFF;
        border-radius:0 0 0.5rem 0.5rem ;
        padding: 0.2rem;
        .cjx-guanbi{
            position: relative;
            border-bottom: 0.01rem dashed #666666;
            height: 0.85rem;
            .cjx-yueduti{
                position: absolute;
                top: 0.1rem;
                font-size: 0.22rem;
            }
            .cjx-yuedueng{
                position: absolute;
                top: 0.42rem;
                font-size: 0.16rem;
                
            }
            .cjx-guanbiquan{
                position: absolute;
                top: 0.25rem;
                right: 0;
                width: 0.3rem;
                height: 0.3rem;
            }
        }
    }
    .cjx-quxiao{
        position: absolute;
        bottom: 0.1rem;
        left: 0.4rem;
        width: 1.95rem;
        height: 0.78rem;
        padding: 0.2rem;
        border: 0.02rem solid #29DCBC;
        font-size: 0.28rem;
        text-align: center;
        border-radius: 0.5rem;
    }
    .cjx-queding {
        position: absolute;
        
        bottom: 0.1rem;
        right: 0.4rem;
        width: 1.95rem;
        height: 0.78rem;
        padding: 0.2rem;
        background:  #29DCBC;
        font-size: 0.28rem;
        text-align: center;
        border-radius: 0.5rem;
        color: #FFFFFF;
    }
}
.cjx-tuijian{
    .cjx-xinxi{
        width: 7rem;
        height: 7rem;
        margin: 0 auto;
        margin-top: 1rem;
        border: 0.001rem solid #ccc;
        border-radius: 0.15rem;
        box-shadow: 0rem 0rem 0.8rem 0.1rem #CCCCCC;
        .cjx-banben{
            height: 1.2rem;
            border-bottom: 0.01rem dashed #000;
            position: relative;
            .cjx-huojian{
                width: 0.3rem;
                height: 0.3rem;
                position: absolute;
                left: 0.2rem;
                top: 0.5rem;
                background: #fdcd3a;
            }
            .cjx-shuoming{
                position: absolute;
                left: 0.8rem;
                top: 0.35rem;
                font-size: 0.25rem;
                font-family: "微软雅黑";
                color: #666;
            }
            .cjx-english{
                position: absolute;
                left: 0.8rem;
                top: 0.65rem;
                font-size: 0.16rem;
                font-family: "微软雅黑";
                color: #666;
                
            }
            .cjx-ver{
                position: absolute;
                right: 0.8rem;
                top: 0.4rem;
                font-size: 0.28rem;
                font-family: "微软雅黑";
                color: #666;
            }
              .cjx-jiantou{
                position: absolute;
                right: 0.2rem;
                top: 0.4rem;
                font-size: 0.28rem;
                font-family: "微软雅黑";
                color: #6ec3e7;
            }
        }
    }
}
.cjx-huluobo{
    .cjx-xinxi{
        width: 7rem;
        height: 7rem;
        margin: 0 auto;
        margin-top: 0.5rem;
        border: 0.001rem solid #ccc;
        border-radius: 0.15rem;
        box-shadow: 0rem 0rem 0.8rem 0.1rem #CCCCCC;
        .cjx-banben{
            height: 1.5rem;
            border-bottom: 0.01rem dashed #000;
            position: relative;
            .cjx-huojian{
                width: 0.8rem;
                height: 0.8rem;
                position: absolute;
                left: 0.1rem;
                top: 0.4rem;
                border-radius: 50%;
                background: url(../img/4-wode_03.jpg) center;
            }
            .cjx-shuoming{
                position: absolute;
                left: 1rem;
                top: 0.2rem;
                font-size: 0.4rem;
                font-family: "微软雅黑";
                color: #666;
                font-weight: 500;
            }
            .cjx-english{
                position: absolute;
                left:1rem;
                top: 0.65rem;
                font-size: 0.16rem;
                font-family: "微软雅黑";
                color: #666;
                
            }
            .cjx-ao{
                position: absolute;
                left: 1rem;
                top: 1rem;
                font-size: 0.08rem;
                font-family: "微软雅黑";
                color: #666;
            }
            .cjx-ver{
                position: absolute;
                right: 0.8rem;
                top: 0.4rem;
                font-size: 0.28rem;
                font-family: "微软雅黑";
                color: #666;
            }
              .cjx-jiantou{
                position: absolute;
                right: 0.2rem;
                top: 0.55rem;
                font-size: 0.28rem;
                font-family: "微软雅黑";
                color: #6ec3e7;
            }
        }
    }
}
.cjx-xuanxiang{
    
    width: 5.7rem;
    height: 0.85rem;
    border-radius: 10rem;
    background: #2a3441;
    margin: 0 auto;
    margin-top: 1.5rem;
    .cjx-left{
        text-align: center;
        color: #FFFFFF;
        font-size: 0.1rem;
        line-height: 0.7rem;
        width: 2.5rem;
        height: 0.7rem;
        background: #29a6dc;
        border-radius: 10rem;
        position: absolute;
        top: 0.07rem;
        left: 0.1rem;
    }
    .cjx-right{
        text-align: center;
        color: #FFFFFF;
        font-size: 0.1rem;
        line-height: 0.7rem;
        width: 2.5rem;
        height: 0.7rem;
        border-radius: 10rem;
        position: absolute;
        top: 0.07rem;
        right: 0.1rem;
    }
    .cjx-left-1{
        text-align: center;
        color: #FFFFFF;
        font-size: 0.1rem;
        line-height: 0.7rem;
        width: 2.5rem;
        height: 0.7rem;
       
        border-radius: 10rem;
        position: absolute;
        top: 0.07rem;
        left: 0.1rem;
    }
    .cjx-right-1{
        text-align: center;
        color: #FFFFFF;
        font-size: 0.1rem;
         background: #29a6dc;
        line-height: 0.7rem;
        width: 2.5rem;
        height: 0.7rem;
        border-radius: 10rem;
        position: absolute;
        top: 0.07rem;
        right: 0.1rem;
    }
}

.cjx-fankui{
    margin: 0 auto;
    margin-top: 2rem;
    .cjx-wenben{
        position: absolute;
        left: 0.2rem;
        width: 7rem;
        height: 3.5rem;
        border: none;
       box-shadow: 0rem 0rem 0.8rem 0.1rem #CCCCCC;
    }
    .cjx-start{
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    font-size: 0.2rem;
    text-align: center;
    line-height:0.68rem ;
    width:5.6rem;
    height: 0.68rem;
    margin: 0 auto;
    background: #29DCBC;
    color: #FFFFFF;
    border-radius: 0.5rem;
    }
}
.cjx-version{
    margin: 0 auto;
    margin-top: 2rem;
    width: 7rem;
    height: 8rem;
    box-shadow: 0rem 0rem 0.8rem 0.1rem #CCCCCC;
    padding: 1rem;
     .cjx-title{
         text-align: center;
         font-size: 0.4rem;
     }
     .cjx-titleeng{
         text-align: center;
         font-size: 0.08rem;
     }
     .cjx-zhengwen{
         margin: 0.5rem 0 0.5rem 0;
         font-size: 0.16rem;
     }
}
#cjx-none{
    border-bottom: none;
}
#cjx-icon{
    top:0.15rem ;
    left: 0rem;
    background: url(../img/4-my_07.jpg);
    background-size: 100% 100% ;
}
#cjx-icon1{
    top:0.15rem ;
    left: 0rem;
    background: url(../img/4-my_10.jpg);
    background-size: 100% 100% ;
}
#cjx-quxiao{
     right: 1rem;
    top: 5rem;
    width: 3rem;
}
#cjx-nan{
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow: 0rem 0rem 0.8rem 0.1rem #CCCCCC;
    
    background: url(../img/4-sex_10.jpg) center;
    background-size: 120% 120%;
}
#cjx-nv{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow: 0rem 0rem 0.8rem 0.1rem #CCCCCC;
    
    background: url(../img/4-sex_07.jpg) center;
    background-size: 120% 120%;
}