@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative; }

img {
  border: none; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

html {
  font-size: 100px; }

body {
  font-size: 16px;
  font-family: "苹方"; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media only screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media only screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media only screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media only screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media only screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media only screen and (min-width: 768px) {
  html {
    font-size: 102.4px; } }

@media only screen and (min-width: 800px) {
  html {
    font-size: 106.66667px; } }

@media only screen and (min-width: 1024px) {
  html {
    font-size: 136.53333px; } }

#sy-35 {
  width: 100%;
  height: auto; }
  #sy-35 #header2 {
    width: 100%;
    height: 0.88rem;
    background: #29a6dc;
    overflow: hidden; }
    #sy-35 #header2 .circle, #sy-35 #header2 .circle2 {
      width: 0.4rem;
      height: 0.4rem;
      background: #fff;
      border: 0.02rem solid #0d76c3;
      border-radius: 50%;
      position: absolute;
      top: 0.28rem;
      left: 0.23rem; }
      #sy-35 #header2 .circle .icon, #sy-35 #header2 .circle2 .icon {
        line-height: 0.35rem;
        text-align: center;
        font-size: 0.2rem;
        color: #3daedf; }
      #sy-35 #header2 .circle a, #sy-35 #header2 .circle2 a {
        color: #3daedf; }
    #sy-35 #header2 .sqgl {
      width: 2rem;
      height: 0.65rem;
      margin: 0 auto;
      color: #fff;
      margin-top: 0.2rem; }
      #sy-35 #header2 .sqgl span:nth-of-type(1) {
        display: block;
        font-size: 16px;
        text-align: center; }
      #sy-35 #header2 .sqgl span:nth-of-type(2) {
        display: block;
        font-size: 12px;
        text-align: center; }
  #sy-35 .shuqian {
    width: 7.5rem;
    margin-top: 0.6rem;
    margin: 0 auto; }
    #sy-35 .shuqian .shuq {
      width: 100%; }
      #sy-35 .shuqian .shuq li {
        width: 100%;
        height: 1.4rem;
        margin-top: 0.1rem;
        border-bottom: 1px dashed #151C2B; }
        #sy-35 .shuqian .shuq li .shuq-t {
          width: 0.8rem;
          height: 0.8rem;
          margin-top: 0.2rem;
          margin-left: 0.2rem;
          float: left;
          background-image: url("../sy/shuqian.png");
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 50%; }
        #sy-35 .shuqian .shuq li p:nth-of-type(1) {
          width: 5.1rem;
          float: left;
          font-size: 14px;
          margin-left: 0.3rem;
          margin-top: 0.2rem; }
        #sy-35 .shuqian .shuq li p:nth-of-type(2) {
          width: 5.1rem;
          float: left;
          font-size: 12px;
          margin-left: 0.3rem; }
        #sy-35 .shuqian .shuq li .shijian {
          width: 2rem;
          float: left;
          margin-left: 0.2rem;
          margin-top: 0.08rem; }
          #sy-35 .shuqian .shuq li .shijian div {
            width: 0.4rem;
            height: 0.4rem;
            float: left;
            background-image: url("../sy/riqi.png");
            background-repeat: no-repeat;
            background-size: contain; }
          #sy-35 .shuqian .shuq li .shijian span {
            font-size: 12px;
            float: left;
            line-height: 0.45rem;
            margin-left: 0.1rem; }
        #sy-35 .shuqian .shuq li .yan {
          width: 1.5rem;
          float: right;
          margin-left: 1.2rem;
          margin-top: 0.08rem; }
          #sy-35 .shuqian .shuq li .yan div {
            width: 0.42rem;
            height: 0.42rem;
            float: left;
            background-image: url("../sy/yan.png");
            background-repeat: no-repeat;
            background-size: contain; }
          #sy-35 .shuqian .shuq li .yan span {
            font-size: 12px;
            float: left;
            line-height: 0.45rem;
            margin-left: 0.1rem; }
      #sy-35 .shuqian .shuq .shuqs {
        width: 100%;
        height: 1.4rem;
        margin-top: -1px;
        border-bottom: 2px solid #28DD8B;
        border-top: 2px solid #28DD8B; }
        #sy-35 .shuqian .shuq .shuqs .xs {
          display: none; }
        #sy-35 .shuqian .shuq .shuqs .shq-s {
          width: 6.6rem;
          height: 1.3rem;
          float: left;
          background-image: url("../sy/sq-bj.png");
          background-repeat: no-repeat;
          background-size: contain; }
        #sy-35 .shuqian .shuq .shuqs .sc {
          width: 0.8rem;
          height: 100%;
          float: right;
          margin-right: 0.1rem; }
          #sy-35 .shuqian .shuq .shuqs .sc span {
            display: block;
            width: 0.4rem;
            height: 0.4rem;
            border: 1px solid #28DD8B;
            color: #28DD8B;
            font-size: 16px;
            border-radius: 50%;
            text-align: center;
            line-height: 0.3rem;
            margin-top: 0.5rem; }
        #sy-35 .shuqian .shuq .shuqs p:nth-of-type(1) {
          width: 5.1rem;
          float: left;
          font-size: 14px;
          margin-left: 0.3rem;
          margin-top: 0.2rem; }
        #sy-35 .shuqian .shuq .shuqs p:nth-of-type(2) {
          width: 5.1rem;
          float: left;
          font-size: 12px;
          margin-left: 0.3rem; }
        #sy-35 .shuqian .shuq .shuqs .shijian {
          width: 2rem;
          float: left;
          margin-left: 0.2rem;
          margin-top: 0.08rem; }
          #sy-35 .shuqian .shuq .shuqs .shijian div {
            width: 0.4rem;
            height: 0.4rem;
            float: left;
            background-image: url("../sy/riqis.png");
            background-repeat: no-repeat;
            background-size: contain; }
          #sy-35 .shuqian .shuq .shuqs .shijian span {
            font-size: 12px;
            float: left;
            line-height: 0.45rem;
            margin-left: 0.1rem; }
        #sy-35 .shuqian .shuq .shuqs .yan {
          width: 1.5rem;
          float: right;
          margin-left: 1.2rem;
          margin-top: 0.08rem; }
          #sy-35 .shuqian .shuq .shuqs .yan div {
            width: 0.42rem;
            height: 0.42rem;
            float: left;
            background-image: url("../sy/yans.png");
            background-repeat: no-repeat;
            background-size: contain; }
          #sy-35 .shuqian .shuq .shuqs .yan span {
            font-size: 12px;
            float: left;
            line-height: 0.45rem;
            margin-left: 0.1rem; }
