@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative; }
#lc-head .search a{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0.44rem;
	height: 0.44rem;
	
}
img {
  border: none; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

html {
  font-size: 100px; }

body {
  font-size: 16px;
  font-family: "苹方"; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media only screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media only screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media only screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media only screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media only screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media only screen and (min-width: 768px) {
  html {
    font-size: 102.4px; } }

@media only screen and (min-width: 800px) {
  html {
    font-size: 106.66667px; } }

@media only screen and (min-width: 1024px) {
  html {
    font-size: 136.53333px; } }

#lc-body {
  background: #f2f2f2; }
  #lc-body .clear {
    clear: both; }

#lc-head {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 1rem;
  background: #29a6dc;
  z-index: 10; }
  #lc-head .lc-nav {
    width: 5.7rem;
    height: 0.84rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #2a3441;
    border-radius: 0.42rem;
    overflow: hidden; }
    #lc-head .lc-nav .lis {
      float: left;
      width: 33.33%;
      height: 0.84rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 1.05rem 0.38rem; }
      #lc-head .lc-nav .lis .fgline {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 3px;
        height: 100%;
        background: url("../bookstore/fgline.jpg") no-repeat center center;
        right: -1.5px; }
      #lc-head .lc-nav .lis .showing {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center center;
        width: 1.65rem;
        height: 0.7rem;
        background-color: #29a6dc;
        border-radius: 0.35rem;
        border: 2px solid #fff;
        display: none;
        background-size: 1.05rem 0.38rem; }
      #lc-head .lc-nav .lis .showing.active {
        display: block; }
      #lc-head .lc-nav .lis:nth-of-type(1) {
        background-image: url("../bookstore/selected0.jpg"); }
        #lc-head .lc-nav .lis:nth-of-type(1) .showing {
          background-image: url("../bookstore/selected1.jpg"); }
      #lc-head .lc-nav .lis:nth-of-type(2) {
        background-image: url("../bookstore/list0.jpg"); }
        #lc-head .lc-nav .lis:nth-of-type(2) .showing {
          background-image: url("../bookstore/list1.jpg"); }
      #lc-head .lc-nav .lis:nth-of-type(3) {
        background-image: url("../bookstore/classify0.jpg"); }
        #lc-head .lc-nav .lis:nth-of-type(3) .showing {
          background-image: url("../bookstore/classify1.jpg"); }
  #lc-head .search {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0.44rem;
    height: 0.44rem;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    border: 2px solid #0c6fbf;
    right: 0.24rem;
    background-image: url("../bookstore/search.jpg");
    background-color: #fff;
    background-size: 0.21rem 0.19rem;
    cursor: pointer; }

.lc-main {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1rem 0;
  display: none;
  width: 100%;
  overflow: hidden;
  background: #f2f2f2; }

.lc-main.active {
  display: block; }

#lc-banner {
  width: 100%;
  height: 5.05rem; }
  #lc-banner .bbox {
    width: 100%;
    height: 4.83rem;
    overflow: hidden;
    box-shadow: 0px 1px 16px rgba(174, 174, 174, 0.33); }
    #lc-banner .bbox li {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%; }
      #lc-banner .bbox li img {
        width: 100%;
        height: auto; }
  #lc-banner .libox {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 0.54rem;
    height: 0.08rem; }
    #lc-banner .libox li {
      float: left;
      border: 1px solid #29a6dc;
      width: 0.08rem;
      height: 0.08rem;
      margin: 0 0.05rem;
      border-radius: 50%; }
    #lc-banner .libox li.active {
      background: #29a6dc; }

#lc-newbook {
  width: 100%; }
  #lc-newbook .title {
    width: 100%;
    height: 0.64rem;
    background: url("../bookstore/new-arrival.jpg") no-repeat 0.38rem top;
    background-size: 2.08rem 0.54rem; }
  #lc-newbook .content {
    margin: 0 auto;
    overflow: hidden;
    width: 7.2rem;
    height: auto; }
    #lc-newbook .content .lis {
      padding: 0.3rem;
      width: 2.4rem;
      height: 4.05rem;
      float: left; }
      #lc-newbook .content .lis .imgs {
        width: 1.8rem;
        height: 2.55rem;
        background-repeat: no-repeat;
        background-position: center center; }
        #lc-newbook .content .lis .imgs img {
          height: 2.55rem;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto; }
      #lc-newbook .content .lis .mes {
        padding: 0.05rem; }
        #lc-newbook .content .lis .mes .name {
          font-size: 0.2rem;
          color: #333; }
        #lc-newbook .content .lis .mes .aur {
          font-size: 0.18px;
          color: #999; }

.list {
  width: 100%;
  height: 2.7rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../bookstore/list-bg.jpg");
  background-size: 100%;
  margin-bottom: 0.16rem; }
  .list .lista {
    display: block;
    height: 2.7rem;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .list span {
    position: absolute;
    left: 4.68rem;
    font-size: 0.22rem;
    color: #fff;
    line-height: 0.22rem;
    z-index: 0.5; }
  .list .top1 {
    top: 0.7rem; }
  .list .top2 {
    top: 1.23rem; }
  .list .top3 {
    top: 1.74rem; }

.bookclass .atit {
  width: 100%;
  height: 0.6rem;
  background: #ace1f8 url("../bookstore/bookicon.jpg") no-repeat 0.38rem center;
  background-size: 0.38rem,auto;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3); }
  .bookclass .atit span {
    font-size: 0.22rem;
    color: #666;
    margin-left: 0.8rem;
    line-height: 0.6rem; }

.bookclass .main {
  background: url("../bookstore/listmbg.jpg") no-repeat center -0.6rem;
  background-size: 100% auto;
  overflow: hidden;
  width: 100%; }
  .bookclass .main span {
    display: block;
    font-size: 0.28rem;
    color: #29a6dc;
    margin-left: 0.33rem;
    height: 0.83rem;
    line-height: 0.9rem; }
  .bookclass .main .libox {
    display: block;
    width: 6.84rem;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 0.11rem; }
    .bookclass .main .libox .lis {
      width: 2.28rem;
      height: 1.36rem;
      padding: 0.125rem 0.24rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 2.03rem 0.88rem;
      float: left;
      text-align: center;
      line-height: 1.1rem;
      font-size: 0.32rem; }
      .bookclass .main .libox .lis a {
        color: #fff; }
      .bookclass .main .libox .lis:nth-of-type(2n) {
        background-image: url("../bookstore/classbg2.jpg"); }
      .bookclass .main .libox .lis:nth-of-type(2n+1) {
        background-image: url("../bookstore/classbg1.jpg"); }

#lc-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  z-index: 1; }
  #lc-foot .lis {
    float: left;
    width: 33.33%;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2.49rem,1rem; }
    #lc-foot .lis a {
      display: block;
      height: 1rem;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10; }
    #lc-foot .lis .fgline {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 1px;
      height: 0.98rem;
      background: #717171;
      right: -0.5px; }
    #lc-foot .lis:nth-of-type(1) {
      background-image: url("../bookstore/bj0.jpg"); }
    #lc-foot .lis:nth-of-type(2) {
      background-image: url("../bookstore/bs1.jpg"); }
    #lc-foot .lis:nth-of-type(3) {
      background-image: url("../bookstore/bm0.jpg"); }

#zhanwei {
  width: 100%;
  height: 2.16rem; }

#lc-head.bst-11 {
  top: 1rem;
  height: 1.16rem;
  background: #f2f2f2; }
